*{
    background-color: green;   
}

#nav {
    background-color: green;
    margin: 0;
    padding: 0;
}

#nav-text{
    background-color: black;
    color: white;
}


#land-div {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#game-div {
    text-align: center;
}

#class-btn {
    color: white;
    background-color: black;
}

#class-btn-db {
    color: white;
    background-color: black;
    

}

.sp {
    background-color: white;
}

.nav-space {
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
}